body {
    margin: 0;
    margin-top: 83px;
    height:100%;
}
.wraps {
    position: relative;
    z-index:999;
    
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px;    
    box-shadow: 0px 3px 15px rgb(207, 207, 209);
    background: #fff;

}
.navbar .menu {
    display: flex;
    list-style: None;
    padding-left: 0px;
    margin-right: 20px;
}
.navbar .menu li {
    padding: 8px 10px;
}
.navbar div img {
    height: 50px;
    margin-right: 20px;
}
.navbar a {
    text-decoration: none;
    color: black;
    position: relative;
    padding: 6px 12px;
}
.navbar a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0%;
    height: 3px;
    background: #f1c40f;
    transition: all .20s ease-in;

}
.navbar a:hover::after {
    width: 100%;
}
.navbar #left-bar {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-left: 20px;
}
.navbar #name-bar {
    bottom: 0;
    height: 3px;
    background: darkolivegreen;
    animation: ani-bar 1s;
}
@keyframes ani-bar {
    0%
    {
        width: 0%;
    }
    100%
    {
        width: 100%;
    }
    
}

main {
    padding: 240px 260px 240px 240px;
    
}
p.typing-text {
    position:relative;
    display: inline-block;
    height: 15px; 
    overflow: hidden;
    animation: typing 8s steps(90,end) 1;
}
p.typing-text::after {
    position: absolute;
    display: block;
    content: "";
    height: 17px;
    top: 0px;
    right: 0px;
    border-right: 1px solid #000;
    animation: cursor 0.8s step-end infinite;
}

@keyframes typing{
    0% {
        width: 0;
    }
    100% {
        width: 770px;
    }
}
@keyframes cursor {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
footer .mail {
    position: fixed;
    bottom:0;
    left:0;
    right:0;
    height:70px;  
    display: flex;
    justify-content: center;
    margin: 0px;
    background: #fff;
}
footer .mail img {
    height: 30px;
}